# Created by .ignore support plugin (hsz.mobi)
.cpcache
.idea
.lsp
.nrepl-port
js/javascript.js
ruby/ruby.rb
clojure/src/clj_training/clojure.clj
clojure/src/training.clj
js/node_modules
styles.css
/ruby/ruby.spec.rb
